TargetPlatformModel SystemUwrosysDemo
{
	TargetPlatformDefinition PC1
	{
		NetworkInterface eth1 
		{ 
			HostAddress "localhost"
		}
		LoginAccount pn
		{ 
			FullName "Underwater Robotic Simulator for RobMoSys" Email "contact<at>skarvtech.com"
		}
		TargetMiddleware ACE_SmartSoft
	} 
}